{% extends 'base.html' %}

{%block title%}
Contact
{%endblock%}

{%block content%}
{%load static%}
<section id="testi">
		<div class="row no-gutters testi-bg-main">
			<div class="col-lg-7">
				<div class="testi-bg">
					<img src="{% static '/images/doctor.jpg'%}" alt="" class="img-fluid pos-aboimg2">
				</div>
			</div>
			<div class="col-lg-5 my-auto py-lg-0 py-5">
				<div class="title-section pb-lg-5 pb-4 text-center">
					<h4 class="text-bl mb-2">We have</h4>
					<h3 class="w3ls-title text-wh text-uppercase let font-weight-bold">7630 happy users</h3>
				</div>
				<div class="text-center  testi-cgrid">
					<div class="testi-icon">
						<span class="fa fa-user" aria-hidden="true"></span>
					</div>
					<h6 class="b-w3ltxt mt-4">City Hospital</h6>
					<p class="mx-auto">City hospital is an integrated Hospital system serving the Greater Kochi region in Kerala, India.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- testimonials -->

	<!-- support -->
	<div class="serives-agile py-5" id="support">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="text-dark text-uppercase mt-4 mb-3"align="center"><b><span style="color:red;">Help</span>&<span style="color:cyan;">Support</span></h1</b></h3>
			<p class="title-sub text-center mb-sm-5 mb-4">24 Hours Online</p>
			<div class="row support-bottom text-center">
				<div class="col-md-4 support-grid">
					<span class="fa fa-headphones"></span>
					<h5 class="text-dark text-uppercase mt-4 mb-3">Privacy Policy</h5>
					<p> As a general rule, this website does not collect Personal Information about you when you visit the site. You can genrally visit the site without revealing Personal Information, unless you choose to provide such information.</p>
					<a href="contact.html" class="btn button-style-2 mt-sm-5 mt-4">
						Call Us
					</a>
				</div>
				<div class="col-md-4 support-grid my-md-0 my-5">
					<span class="fa fa-comments"></span>
					<h5 class="text-dark text-uppercase mt-4 mb-3">Live Chat 24/7</h5>
					<p>The Fastest Way To Help Your Customers & Get More Business. Try Now For Free! Increase Sales And Customer Satisfaction With Our Powerful Customer Service Platform. 24/7 Live Support. Generate More Leads. Easy to Setup.</p>
					<a href="contact.html" class="btn button-style-2 mt-sm-5 mt-4">
						Send message
					</a>
				</div>
				<div class="col-md-4 support-grid">
					<span class="fa fa-question"></span>
					<h5 class="text-dark text-uppercase mt-4 mb-3">Any Questions</h5>
					<p>Ask any questions here..</p>
					<a href="contact.html" class="btn button-style-2 mt-sm-5 mt-4">
						Learn More
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- support -->

	<!-- footer -->
	<footer class="footer-w3ls py-5">
		<div class="container py-sm-4">
			<div class="row">
				<div class="col-lg-3 col-sm-6 agileinfo_footer_grid">
					<!-- logo -->
					<div class="logo-2 mb-sm-4 mb-3">
						<h2><a href="index.html">City Hospital</a></h2>
					</div>
					<!-- //logo -->
					<p>The City hospital is a hospital system serving the city of Kochi in Kerala, India. It was opened to the public within four years of starting construction, making it one of the fastest completed hospital projects in India.</p>
				</div>
				<div class="col-lg-3 col-sm-6 agileinfo_footer_grid mt-sm-0 mt-5">
					<h4 class="mb-sm-5 mb-4">Recent Articles</h4>
					<ul class="list-unstyled">
						<li>
							<span class="fa fa-angle-double-right mr-2"></span>STV Makes its Mark with Grand Central Madison </li>
						<li>
							<span class="fa fa-angle-double-right mr-2"></span> Equity, Technology Drive Link21’s Public Engagement Campaign
						</li>
						<li>
							<span class="fa fa-angle-double-right mr-2"></span> Consultant Q&A: HDR's Malfara Talks Workforce Development, Equity</li>
						<li>
							<span class="fa fa-angle-double-right mr-2"></span>Consultant Q&A: Stantec's Al-Tahan on Evolution of Mobility, Design-Build</li>
					</ul>
				</div>

				<div class="col-lg-3 col-sm-6 agileinfo_footer_grid mt-lg-0 mt-5">
					<h4 class="mb-sm-5 mb-4">Address</h4>
					<ul class="list-unstyled">
						<li>
							<span class="fa fa-map-marker mr-2"></span> pioner tower, 4th Marine drive- 682017. 09:00 am - 05.30 pm</li>
						<li>
							<span class="fa fa-envelope mr-2"></span>
							<a href="mailto:contact@myride.com</a>
						</li>
						<li>
							<span class="fa fa-phone mr-2"></span>Call Us. 0484-2846700</li>
						<li>
							<span class="fa fa-clock-o mr-2"></span>Everyday 6.00am-10.30pm(sunday: 9.00am-11.30pm )</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
{%endblock%}